<% include ./partials/header.ejs %>

<div class="w-full min-h-screen bg-zinc-800 py-14 px-3 flex justify-center items-start sm:items-center">
  <div class="w-full max-w-md bg-white px-6 py-6 rounded-lg flex flex-col gap-4">

    <h3 class="font-bold text-2xl text-center mb-4">Create New Post</h3>

    <form class="flex flex-col gap-2" action="/createpost" method="post" enctype="multipart/form-data">
        <input class="w-full rounded-md border px-2 py-1" type="file" name="postImage">
        <input class="w-full border px-2 py-1 rounded-md" type="text" placeholder="Title" name="title">
        <textarea class="w-full border px-2 py-1 rounded-md" name="description" placeholder="Description"></textarea>
        <input class="w-full py-1 bg-red-600 rounded-md text-white hover:bg-red-700 cursor-pointer" type="submit" value="Create Post">
    </form>

  </div>
</div>

<% include ./partials/footer.ejs %>
