<% include ./partials/header.ejs %>

 <div class="mt-12 px-6 py-6 flex flex-wrap gap-2 text-white">

<% posts.forEach(function(elem){ %>

    <div>
    <div class="card max-w-[208px] w-full h-48 bg-zinc-300 rounded-md overflow-hidden flex items-center justify-center">
        <img class="w-full h-full object-cover object-center" src="/images/uploads/<%= elem.image %>" alt="<%= elem.title %>">
    </div>
    
    <h3 class="text-xs mt-1 tracking-tight truncate"><%= elem.title %></h3>
</div>

  <% })%>

 </div>

<% include ./partials/footer.ejs %>