<% include ./partials/header.ejs %>

<div class="profile w-full h-screen bg-zinc-800 text-white flex justify-center flex-col ">

    <div class="profiledetailes flex flex-col items items-center mt-5">
        <div class="w-25 h-25 bg-zinc-300 rounded-full"></div>
        <h1 class="text-2xl capitalize ">aamer qureshi</h1>
        <h3 class="text-xs -mt-1">@email.com</h3>
        <a class="px-3 rounded-full bg-red-600 mt-1 font-bold" href="#">edit</a>
        <button class="px-2 rounded-full bg-zinc-700 text-sm mt-1 font-semibold">add new pin</button>
    </div>

    <!------------ card section ---------->

    <div class="cards mt-3 flex flex-wrap w-full h-full p-5 gap-3">

    <div>
        <div class="card w-52 h-38 bg-zinc-300 rounded-md"></div>
        <h3 class="text-xl">all pins</h3>
    </div>

    <div>
        <div class="card w-52 h-38 bg-zinc-300 rounded-md"></div>
    </div>

</div>
</div>

<% include ./partials/footer.ejs %>